<html>
<head>
<title>about</title>
</head>
<body>
<p>Over recent years as the popularity of mobile phone devices has increased.Short Message Service (SMS) has grown into a multi-billion dollars industry. At the same time, reduction in the cost of messaging services has resulted in growth in unsolicited commercial achersements (spams) being sent to mabile phones. Due to Spam SMS, Mobile service providers suffer from some sort of financial problems as well as it reduces calling time for users. Unfortunatly the net accesses such Spam SMS they may face the problem of virus or malware.When SMS arrives at mobile it will disturb mobile user privacy and concentration. It may lead to frustration of user. So Spam SMS is one of the major issues in wireless communication world and it grows day by day.</p>
</body>
</html>