<!doctype html>
<html>
<head>
<title>Optimizing Spam Filtering</title>
</head>
<body> 
<div>
</style>
<a href="home.html"> Home</a>
<a href="about.html"> About</a><br>
<h1>
<b>
<font_color="black"size="06"text="SmartBridge align="left"></font>
<font size=10>
<font color="black">
<b>SMS</b> <font face="times new romen"color="red"size="10"> SPAM </font face><font size="10"color="black">Detection<br> Using <b>NLP</b>
</font>
<br>
<img src="https://softshore.tech/frontend/assets/images/hero-image.png" alt="Spam filtering" width="500" style="pos_center">
<div>
<h6>Enter Your Text</h6> <h6><input type='text' placeholder='Enter your text' Enter Numerical part required='required'>
</h6>
</div>

</a>
</div>
</body>
</html>